@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&family=Supermercado+One&display=swap');


.navbar {
    text-align: center;
    font-family: "Roboto", monospace;
    font-family: 'Supermercado One', cursive;
    font-size: 32px;
    font-weight: 700;
    background-color: #1f2937;
    color: whitesmoke;
    padding: 10px;
}

.navbar p {
    margin: 0px;
}

.general-info,
.educational-info,
.experience-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 15px;
    font-family: "Roboto", monospace;
    border: 2px solid #1f2937;

}

.header {
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 500;
}

.name {
    display: flex;
    gap: 8px;
}

.general-info input, 
.educational-info input,
.experience-info input {
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    outline: none;
    width: 200px;
    height: 25px;
    border: none;
    border-bottom: 2px solid #888;
    text-align: center;
}

.general-info input:focus, 
.educational-info input:focus,
.experience-info input:focus {
    border-bottom: 2px solid #3882f6;
    /* box-shadow: 0px 5px 5px #1f2937;
    border-bottom: #1f2937;  */
}

.general-info label, 
.educational-info label,
.experience-info label {
    display: block;
    font-size: 20px;
    margin-bottom: 4px;
}

#year-of-study,
.working-time {
    display: flex;
    gap: 8px;
}

.year-of-study {
    margin-top: 10px;
}

